langchain
cloudinary
firebase-admin
nltk
openai
Pillow
protobuf==4.23.3
python-slugify
Requests
#spacy
stability-sdk
streamlit
textblob
python-dotenv
grpcio-tools
google-cloud-translate
googletrans==4.0.0-rc1
#simpleaichat
